<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="button-container">
      <a id="primaryButton" href="/login">LOG IN WITH SPOTIFY</a>
      <p class="info" style="position: absolute; bottom: 10px; left: 80px;">
        * We do not store any personal data.
      </p>
    </div>
  </body>
</html>
