@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

body {
  margin: 0;
}

#logo {
  width: 150px;
}

.container {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 1.2em;
  min-width: 100%;
  width: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container {
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.info {
  font-size: 0.8em;
  color: grey;
  margin-top: 10px;
}

#primaryButton {
  font-family: "Dosis", sans-serif;
  color: white;
  font-weight: bold;
  background-color: #1db91d;
  border-radius: 100px;
  width: 238px;
  padding: 5px;
  font-size: 0.9em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.2s ease-out;
}

#primaryButton:hover {
  background-color: #fa6b52;
}

.me {
  color: black;
}
.me:hover {
  color: rgb(250, 90, 95);
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
